/* General Fonts Style */
h2 {
  font-family: "Libre Baskerville";
  font-size: 45px;
  line-height: 67.5px;
}

p {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 25.6px;
}

li {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17.07px;
}

button {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
}

h2.monserat {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 28.51px;
  text-align: center;
}

/* Background img */
.general-container .image-background-timer {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  width: 590px;
  height: 1029px;
  content: url("../../imgs/background-timer-desktop.png");
}

/* Text Content First Slide */
.general-container {
  height: 900px;
}

.col-offer h2.col-offer-title.tablet,
.col-offer h2.col-offer-title.mobile {
  display: none;
}

.warning-container {
  display: none;
}

.col-offer h2.col-offer-title.desktop {
  display: block;
}

.offer-appointment-resp-container {
  display: none;
}

.text-general-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-general-container .col-offer {
  padding: 20px;
  margin-bottom: 20px;
  width: 25%;
  margin-right: 15px;
}

.text-general-container .col-offer h2 {
  font-family: "Libre Baskerville";
  font-weight: 400;
}

.text-general-container .col-offer h2 .highlighted-word {
  color: #dd71c6;
  font-family: "Libre Baskerville";
  font-weight: 400;
  font-size: 45px;
  line-height: 67.5px;
}

.text-general-container .col-offer-text {
  font-size: 16px;
  line-height: 1.5;
}

.text-general-container .col-offer a:hover {
  text-decoration: underline;
}

/* Button Efect */
.book-appointment {
  width: 215px;
  height: 40px;
  padding-top: 15px;
  padding-bottom: 30px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  border: 3px solid #dd71c6;
  background-image: -webkit-linear-gradient(
    30deg,
    #dd71c6 50%,
    transparent 50%
  );
  background-image: linear-gradient(30deg, #dd71c6 50%, transparent 50%);
  background-size: 525px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  text-transform: initial;
}

.book-appointment:hover {
  background-position: 100%;
  color: #dd71c6;
}

/* Timer */
.col-timer {
  margin-left: 15px;
}

#countdown {
  display: grid;
  justify-content: center;
  font-size: 24px;
  height: 321px;
  width: 629px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.49);
  backdrop-filter: blur(20px);
  padding: 10px;
  position: relative;
  align-content: center;
  justify-items: center;
}

.timer-container {
  display: flex;
  justify-content: center;
}

.timer {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.4px;
  position: relative;
}

.timer-container-span span {
  width: 60px;
  height: 89px;
  margin-right: 4px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 50px;
  line-height: 88.95px;
  text-align: center;
  color: #333333;
}

.timer-container-span {
  top: 60px;
  position: absolute;
}

#timer_text {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  color: black;
}

div#timer-container-time {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 150px;
}

.timer-title {
  position: absolute;
  top: 66px;
  margin: 0;
}

.timer-span-name {
  width: 127px;
  height: 32px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 32.02px;
  letter-spacing: 5px;
  text-align: center;
  color: #0083d3;
}

/* Frequently Asked Questions */
.questions-general-container {
  margin-bottom: 100px;
}

.questions-general-container .questions-container {
  padding: 0 5vw;
  display: grid;
  justify-items: start;
  justify-content: center;
}

.questions-title {
  font-family: "Libre Baskerville";
  font-weight: 400;
  font-size: 32px;
  line-height: 51.2px;
}

.questions-li-container h2 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 27.6px;
}

h2.questions-title {
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.questions-container {
  margin: auto;
  margin-bottom: 100px;
}

.questions-container .questions-list-container {
  margin-bottom: 10px;
  width: 60vw;
  padding: 10px;
  background: rgba(249, 249, 249, 1);
  border-radius: 5px;
}

.questions-container .label,
.questions-container .container-answer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  cursor: pointer;
}

.questions-container .label span {
  font-size: 22px;
  color: rgba(51, 51, 51, 1);
}

.questions-container .label span img {
  width: 23px;
}

.questions-container .container-answer {
  height: 0;
  padding: 0 10px;
  line-height: 26px;
  overflow: hidden;
  transition: height 0.5s;
}

.questions-container .questions-list-container.active .container-answer {
  height: 100px;
}

.questions-container .questions-list-container .container-answer {
  align-items: center;
  margin-left: 40px;
  display: flex;
}

.vector-answer {
  transform-origin: center;
  transition: transform 0.5s ease;
}

.rotated {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.offer-appointment-resp.book-appointment-container {
  display: flex;
  justify-content: center;
}

.questions-general-container {
  background-image: url("../../imgs/q&a-desk-back.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1250px) and (min-width: 1173px) {
  .text-general-container {
    justify-content: space-around;
  }
}

@media (max-width: 1172px) {
  .general-container {
    height: 1115px;
  }

  .text-general-container {
    display: grid;
    align-items: unset;
    justify-content: unset;
  }

  .text-general-container .col-offer {
    width: unset;
    margin: 0 0 0 35px;
  }

  .col-offer .col-offer-text.desktop,
  .book-appointment-container.desktop {
    display: none;
  }

  .warning-container {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
  }

  .warning-container .warning-text {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(51, 51, 51, 1);
    width: 100%;
  }

  .warning-container .warning-text .highlighted-word {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(221, 113, 198, 1);
  }

  .offer-appointment-resp-container {
    display: grid;
    margin-top: 50px;
  }
}

@media (max-width: 1172px) and (min-width: 730px) {
  /* Background img */
  .general-container {
    position: relative;
  }
  .general-container .image-background-timer {
    height: 100%;
    width: 430px;
    content: url("../../imgs/background-timer-tablet.png");
  }

  /* Text Content First Slide */
  .col-offer h2.col-offer-title.desktop,
  .col-offer h2.col-offer-title.mobile {
    display: none;
  }

  .col-offer h2.col-offer-title.tablet {
    display: block;
    margin-top: 0;
    width: 75%;
  }

  .cols.col-timer {
    display: flex;
    justify-content: center;
  }

  .offer-appointment-resp-container .offer-appointment-resp.col-offer-text {
    width: 52%;
    margin-left: 60px;
  }

  .offer-appointment-resp-container
    .offer-appointment-resp.book-appointment-container {
    display: flex;
    justify-content: center;
    margin: 15px 0 50px 0;
  }
  .questions-general-container {
    background-image: none;
  }

  .menu {
    margin-top: 97px;
  }

  .questions-container .questions-list-container.active .container-answer {
    height: 100px;
    overflow-y: auto;
    align-items: flex-start;
  }
}

@media (max-width: 729px) {
  /* Background img */
  .general-container .image-background-timer {
    max-width: fit-content;
    content: url("../../imgs/background-timer-mobile.png");
  }

  /* Text Content First Slide */
  .general-container {
    height: 872px;
  }

  .col-offer h2.col-offer-title.desktop,
  .col-offer h2.col-offer-title.tablet {
    display: none;
  }

  .col-offer h2.col-offer-title.mobile {
    display: block;
  }

  .text-general-container .col-offer {
    margin: 0px;
    padding: 0px;
  }

  /* Timer */
  #countdown {
    height: 159px;
    width: 281px;
  }

  .col-timer {
    margin-left: unset;
    display: flex;
    justify-content: center;
  }

  .timer-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 19.01px;
    text-align: center;
    top: 34px;
  }

  .timer-span-name {
    width: 30px;
    height: 14px;
    font-weight: 500;
    font-size: 8px;
    line-height: 14.23px;
    letter-spacing: 0px;
    text-align: center;
  }

  .timer-container-span span {
    font-weight: 500;
    font-size: 18px;
    line-height: 32.02px;
    text-align: center;
  }

  div#timer-container-time {
    top: 82px;
  }

  .timer-container-span {
    top: 35px;
    margin-left: 8px;
  }

  .general-container .image-background-timer {
    height: unset;
  }

  .col-offer-title.mobile,
  .text-general-container .col-offer h2 .highlighted-word {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
  }

  .text-general-container {
    justify-items: center;
  }

  .offer-appointment-resp-container {
    display: grid;
    justify-items: center;
    width: 80vw;
  }

  .offer-appointment-resp-container
    .offer-appointment-resp.book-appointment-container {
    display: flex;
    justify-content: center;
    margin: 15px 0 50px 0;
    justify-items: center;
  }

  .questions-container .questions-list-container {
    width: 80vw;
  }

  .questions-general-container {
    background-image: url("../../imgs/q&a-mob-back.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .questions-container .questions-list-container.active .container-answer {
    height: 200px;
    overflow-y: auto;
    align-items: flex-start;
  }
}

@media (max-width: 445px) {
  .questions-general-container {
    background-size: contain;
  }
}

@media (max-width: 375px) {
  .questions-general-container {
    margin-top: 65px;
  }

  .menu {
    margin-top: 74px;
  }

  .book-appointment {
    width: 280px;
    background-size: 745px;
    white-space: nowrap;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
